@using Eddo.Web.Mvc.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.IncludeStyle(StylePaths.FontAwesome)
    @Html.IncludeStyle(StylePaths.Roboto)
    @Html.IncludeStyle(StylePaths.Simple_Line_Icons)
    @Html.IncludeStyle(StylePaths.JQuery_Uniform)
    @Html.IncludeStyle(StylePaths.Bootstrap)
    @Html.IncludeStyle(StylePaths.Sweetalert)
    @Html.IncludeStyle(StylePaths.style)
    @Html.IncludeStyle(StylePaths.materialize)
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">AbpProjectName</a>
        </div>
  
        @RenderBody()
        <div class="row">
            <div class="col-xs-12 text-center" style="color: #e9e9e9">
                <small>&copy; @DateTime.Now.Year AbpProjectName. <b>Version </b></small>
            </div>
        </div>
</div>
  
    @Html.IncludeScript(ScriptPaths.Json2)
    @Html.IncludeScript(ScriptPaths.JQuery)
    @Html.IncludeScript(ScriptPaths.JQuery_Migrate)
    @Html.IncludeScript(ScriptPaths.Bootstrap)
    @Html.IncludeScript(ScriptPaths.JQuery_BlockUi)
    @Html.IncludeScript(ScriptPaths.JQuery_Uniform)
    @Html.IncludeScript(ScriptPaths.Toastr)
    @Html.IncludeScript(ScriptPaths.SpinJs)
    @Html.IncludeScript(ScriptPaths.SpinJs_JQuery)
    @Html.IncludeScript(ScriptPaths.SweetAlert)
    @Html.IncludeScript(ScriptPaths.Abp)
    @Html.IncludeScript(ScriptPaths.Abp_JQuery)
    @Html.IncludeScript(ScriptPaths.Abp_BlockUi)
    @Html.IncludeScript(ScriptPaths.Abp_SpinJs)
    @Html.IncludeScript(ScriptPaths.Abp_Toastr)
    @Html.IncludeScript(ScriptPaths.Abp_SweetAlert)
    @Html.IncludeScript(ScriptPaths.JQuery_Validation)

    @Html.IncludeScript("~/metronic/assets/global/scripts/app.js")
    <script type="text/javascript">
        App.setAssetsPath(abp.appPath + 'metronic/assets/');
    </script>
    @Html.IncludeScript("~/Common/Scripts/jquery-validation-custom.js")
    @RenderSection("scripts", required: false)
    <script>
        jQuery(document).ready(function () {
            if (CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>
</html>
